<ul class="nav menu">
	<li><a class="btn" href=<?php echo '"'.$root_URL .'"'; ?>>Home</a></li>
	<li><a class="btn logout" href="logout.php">Logout</a></li>
</ul>
<ul class="nav chart">
	<li><strong>Charts</strong></li>
	<li><a href=<?php echo '"'.$root_URL .'/charts/latest.php"'; ?>>Latest data</a></li>
	<li><a href=<?php echo '"'.$root_URL .'/charts/mean.php"'; ?>>Mean</a></li>
	<li><a href=<?php echo '"'.$root_URL .'/charts/median.php"'; ?>>Median</a></li>
	<li><a href=<?php echo '"'.$root_URL .'/charts/regression.php"'; ?>>Regression analysis</a></li>
	<li><a href=<?php echo '"'.$root_URL .'/api/update/config.php"'; ?>>Config</a></li>
</ul>
